<h4 style="text-align: center;"> Your followers </h3><br>
<div class="container">
    <% @my_followers.each do |follower|%>
        <% @account = Account.find_by_id(follower.follower_id) %>
            <div class="container post-details put-shadow" style="max-width: 600px !important; max-height: 74px !important; margin-top: 10px">
                    <div class="row">
                        <div class = "col-sm-3 col-lg-2">
                            <%= link_to profile_picture(@account,35), profile_path(@account.username) %> 
                        </div>
                        <div class = "col-sm-9 col-lg-10">
                            <% if Follower.where(following_id: follower.follower_id, follower_id: follower.following_id).empty? %>
                                <%= form_tag follow_account_path, method: :post, class:"float-right" do %>
                                    <%= hidden_field_tag :follow_id, @account.id %>
                                    <%= submit_tag "Follow", class:  "btn btn-sm btn-info" %>
                                <% end %>
                            <%else%>
                                <%= form_tag unfollow_account_path, method: :post, class:"float-right" do %>
                                    <%= hidden_field_tag :follow_id, @account.id %>
                                    <%= submit_tag "Unfollow", class:  "btn btn-sm btn-danger" %>
                                <% end %>
                            <%end%>
                            <%= link_to @account.username, profile_path(@account.username), class: "text-dark" %> 
                            <p class="text-muted" style="font-size: 13px">
                                <%= @account.full_name %>                    
                            </p>
                        </div>
                    </div>
            </div>
        <% end %>
</div>